body {
}
.CrudSection {
    background-color: #FEDF6A;
    display: grid;
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
    padding: 4em 0;
}

#ContentPlaceHolder1_dgvBills {
    background-color: #FEBD01;
    border: 0;
}

th, td {
    border-radius: 15px !important;
    padding: 2em !important;
    text-align: center !important;
}

.btnRegistrar {
    width: 13em;
    justify-self: center;
    margin-top: 3em;
}