body {
}
.LogIn {
    background-color: #F2F2F2;
}
.formSection {

    display: grid;
    justify-content: center;
    padding-bottom:3em;
}
h1{
    text-align:center;
    margin: 1em;
}
.formContainer {
    background-color: #FFEB9E;
    border-radius: 30px;
    width:600px;
    padding: 1em 8em;
}
.Icons{
    width:40px;
    margin-right:20px;
}
.inputContainer {
    display: grid;
    grid-template-columns: 1fr 8fr;
    margin-top: 4em;
}
.logInInputs {
    background-color: #FFEB9E;
    border: 0;
    border-bottom: solid 2px black;
}
.containerButton{
    display:grid;
    justify-content:center;
}
.btnIngresar {
    background-color: black;
    border: 0;
    padding: 0.5em 2.5em;
    margin: 2em 1em;
}
.forgotPass{
    text-align:center;
    margin-bottom: 1.5em;
}
.forgotPass a{
    color:black;
    font-size: 18px;
}